body{
  color: white;
  background-color: #0e45b3;
  background-image: url(https://wallpapercave.com/wp/wp6195770.jpg);
  background-size: cover;
}

#app{
text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


#app ul {
  list-style: none;
}

#app li>span.done {
  text-decoration: line-through;
}
.logo{
   width: 50%;
}



.btn{
  background-color: #0cd977;
}

.deleteBTN{
  background-color: rgb(230, 7, 7);
}
#app > form > input[type=text]{
  color: black;
}